<!DOCTYPE html>
<html>
<head>
    <title>Pollz App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


</head>

<body>
<% if logged_in? %>
    <%= react_component "navigation/Navbarout", {username: (current_user.username).capitalize} %>
<% else %>
    <%= react_component "navigation/Navbarin" %>
<% end %>
<% unless flash.empty? %>
    <%= react_component('shared/Flash', flash: flash, prerender: true) %>
<% end %>
<%= yield %>
</body>
</html>
